azure_storage==0.37.0
faster_whisper==1.0.3
Flask==3.0.3
openai==1.51.2
PyAudio==0.2.14
qdrant_client==1.12.0
Requests==2.32.3
sentence_transformers==3.2.0
SpeechRecognition==3.10.4
torch==2.3.1
transformers==4.45.2
